#nous-rejoindre-container{
  margin: 0px;
  width: 100vw;
  background-image: url('../images/fonds/ciel-bleu.webp');
  background-size: cover; 
  background-position: top center; 
  background-repeat: no-repeat;
  padding-top: max(90px,8vw);
  padding-bottom: max(15px,4vw) ;
}
#nous-rejoindre-container h1{
  margin-bottom: 5vw;
  text-decoration: underline;
  text-underline-offset: min(3vw,20px);
  text-decoration-color: #E89C9E;
}
#equipe1{
  margin: 0px;
  width: 100vw;
  background-image: url('../images/fonds/ciel-bleu.webp');
  background-size: cover; 
  background-position: top center; 
  background-repeat: no-repeat;
  padding-top: max(90px,8vw);
}
#equipe1 h1{
  text-decoration: underline;
  text-underline-offset: min(3vw,20px);
  text-decoration-color: #E89C9E;
}
#equipe-intro-container{
  display: flex;
  flex-wrap: wrap;
  padding: 3vw 0;
  justify-content: space-between;
  align-items: center;
}
#equipe-intro-container p{
  width: 55vw;
}
#equipe-intro-container img{
  width: 30vw;
}
#equipe-pellicule {
    width: 100vw; 
    height: calc(566*max(200vw,1800px)/6329);
    background-image: url('../images/equipe/pellicule.webp'); 
    background-size: max(200vw,1800px);
    background-repeat: repeat-x; 
    animation: scroll-right 100s linear infinite;
    margin-bottom: -0.5vw;
}
@keyframes scroll-right {
    from {
        background-position: 0; 
    }
    to {
        background-position: max(200vw,1400px);
    }
}
#equipe2{
  width: 100vw;
  background-color:#E8DCCC;
  padding: 2vw 0;
  margin: 0;
}
#liste-equipe{
  width: 90vw;
  margin: 0 3vw;
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 1vw;
}
#liste-equipe li {
  cursor: pointer;
  background-color: #E8DCCC;
  border: 2px #343737 solid;
  border-radius: 24px;
  color: #343737;
  font-size : 0.8rem;
  padding: 0.5vw 1vw;
  margin: 0.5vw;
  white-space: nowrap;
  transition: background-color 0.4s;
}
#liste-equipe li:hover {
  background-color: #E89C9E;
  color: #343737;
}
.section {
    display: none; 
    opacity: 0;
    transition: opacity 0.5s;
}
.section.active {
    display: flex; 
    opacity: 1;
}
#equipe-content{
  margin: 2vw;
  background-color:#343737;
  padding-top:2vw;
  padding-left:2vw;
}
.section-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
/* Cards Réals*/
  .real-container{
    width: 43vw;
    background-color: #E8DCCC;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
  }
  .photo-real{
    width: 15vw;
    height: 15vw;
    margin: 1vw;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
  }
  .contact-real{
    width: 25vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1vw;
  }
  .contact-real p{
    font-family: PP Hatton;
    margin: 0;
  }
  .prenom-nom-real{
    font-size: 2.7vw;
    white-space: nowrap;
  }
  .poste-real{
    font-size: 2vw;
    padding-bottom: 1vw;
    white-space: normal;
  }
  .poste-description-real{
    font-size: 1.3vw;
    text-align: justify;
    white-space: normal; 
    word-wrap: break-word;
    padding-bottom: 1vw;
  }
  .real-buttons-container{
    display: flex;
    flex-direction:row;
    align-items: center;
  }
  .contact-buttons-real {
    align-items: center;
    height: 3vw;
  }
  .email-button-real {
    width: 3.5vw;
    height: 3.5vw; 
    position: relative;
    top: -0.3vw;
    cursor: pointer; 
  }
  .insta-button-real {
    width: 3vw;
    height: 3vw;
    margin-left: 0.6vw;
    cursor: pointer; 
  }
  .son-parcours {
    margin-left: 1vw;
    font-weight: bold;
    font-size: 1.4vw;
    padding: 0.3vw;
    cursor: pointer; 
    border: solid 2px #343737;
    color:#343737;
    border-radius: 15px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  .son-parcours:hover{
    color:#E8DCCC;
    background-color: #343737;
  }
/*Cards Membres*/
  .membre-container{
    width: calc(94vw / 3 - 4vw);
    background-color: #E8DCCC;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
  }
  .photo-membre{
    width: 10vw;
    height: 10vw;
    margin: 0.5vw;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
  }
  .contact-membre{
    width: calc(94vw / 3 - 4vw - 11vw);
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1vw;
  }
  .contact-membre p{
    font-family: PP Hatton;
    margin: 0;
  }
  .prenom-nom{
    font-size: 2vw;
    white-space: normal;
  }
  .poste{
    font-size: 1.5vw;
    padding-bottom: 1vw;
    white-space: normal;
  }
  .poste-description{
    font-size: 1vw;
    text-align: justify;
    white-space: normal; 
    word-wrap: break-word;
    padding-bottom: 1vw;
  }
  .membre-buttons-container{
    display: flex;
    flex-direction:row;
    align-items: center;
  }
  .contact-buttons {
    align-items: center;
    height: 2.5vw;
  }
  .email-button {
    width: 3vw;
    height: 3vw; 
    position: relative;
    top: -0.3vw;
    cursor: pointer; 
  }
  .insta-button {
    width: 2.5vw;
    height: 2.5vw;
    margin-left: 0.6vw;
    cursor: pointer; 
  }

@media (max-width: 1023px) {
  /*Cards Membres*/
    .membre-container{
      width: 43vw;
    }
    .photo-membre{
      width: 15vw;
      height: 15vw;
      margin: 1vw;
    }
    .contact-membre{
      width: 25vw;
    }
    .prenom-nom{
      font-size: 2.7vw;
    }
    .poste{
      font-size: 2vw;
    }
    .poste-description{
      font-size: 1.3vw;
    }
    .contact-buttons {
      height: 3vw;
    }
    .email-button {
      width: 3.5vw;
      height: 3.5vw; 
    }
    .insta-button {
      width: 3vw;
      height: 3vw;
    }
}
@media (max-width: 768px) {
  #equipe-intro-container{
  flex-wrap: wrap-reverse;
  justify-content: center;
  }
  #equipe-intro-container p{
    width: 90vw;
  }
  #equipe-intro-container img{
    width: min(300px,60vw);
  }
}
@media (max-width: 480px) {
  /* Cards Réals*/
    .real-container{
      width: 85vw;
      flex-direction: column;
      padding: 3vw;
      margin-top: 3vw;
      margin-bottom: 3vw;
      margin-right: 0;
      margin-left: 0.5vw;
    }
    .photo-real{
      width: 30vw;
      height: 30vw;
      margin-bottom: 5vw;
    }
    .contact-real{
      width: 80vw;
      margin: auto 0;
      text-align: center;
    }
    .prenom-nom-real{
      font-size: 7vw;
    }
    .poste-real{
      font-size: 5vw;
      padding-bottom: 3vw;
    }
    .poste-description-real{
      font-size: 4vw;
      font-style: italic;
      text-align: center;
      padding-bottom: 3vw;
    }
    .real-buttons-container{
      margin: 0 auto;
      width: 80vw;
      flex-wrap: wrap;
      justify-content: center;
    }
    .contact-buttons-real {
      height: auto;
    }
    .email-button-real {
      width: 10vw;
      height: 10vw; 
      top: -0.5vw;
      margin-left: 29vw;
    }
    .insta-button-real {
      width: 10vw;
      height: 10vw;
      margin-left: 2vw;
      margin-right: 29vw;
    }
    .son-parcours {
      margin-left: 0vw;
      font-size: 4.5vw;
      padding: 1.5vw;
    }
  /*Cards Membres*/
    .membre-container{
      width: 85vw;
      flex-direction: column;
      padding: 3vw;
      margin-top: 3vw;
      margin-bottom: 3vw;
      margin-right: 0;
      margin-left: 0.5vw;
    }
    .photo-membre{
      width: 30vw;
      height: 30vw;
      margin-bottom: 5vw;
    }
    .contact-membre{
      width: 80vw;
      margin: auto 0;
      text-align: center;
    }
    .prenom-nom{
      font-size: 7vw;
    }
    .poste{
      font-size: 5vw;
      padding-bottom: 3vw;
    }
    .poste-description{
      font-size: 4vw;
      font-style: italic;
      text-align: center;
      padding-bottom: 3vw;
    }
    .membre-buttons-container{
      margin: 0 auto;
      width: 80vw;
      flex-wrap: wrap;
      justify-content: center;
    }
    .contact-buttons {
      height: auto;
    }
    .email-button {
      width: 10vw;
      height: 10vw; 
      top: -0.5vw;
      margin-left: 29vw;
    }
    .insta-button {
      width: 10vw;
      height: 10vw;
      margin-left: 2vw;
      margin-right: 29vw;
    }
}