#son-parcours-container{
  margin: 0px;
  width: 100vw;
  background-image: url('../images/fonds/ciel-bleu.webp');
  background-size: cover; 
  background-position: top center; 
  background-repeat: no-repeat;
  padding-top: max(90px,8vw);
  padding-bottom: max(5vw,15px);
}
#son-parcours-container-fond{
  margin: 0px auto;
  margin-top: max(3vw,15px);
  width: 80vw;
}
#son-parcours{
  margin: 0px 5vw;
}
#son-parcours img{
  margin-left: 20px;
  float: right;
  width: 25vw;
  height: auto;
}